/*Page Style @1-B76E89FD*/
#Grid2s_nombre_choices {
    position: absolute;
}
#Grid2s_nombre_choices ul {
    background-color: white;
    border: 1px solid black;
    border-top: none;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0px;
}
#Grid2s_nombre_choices ul li.selected { background-color: #aaa;}
#Grid2s_nombre_choices li {
    list-style-type: none;
    padding-left: 8px;
    padding-right: 8px;
    margin: 0;
}
/*End Page Style*/

